<!DOCTYPE html>
<html lang="us-en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/common.css">
        <link rel="stylesheet" href="../static/styles/footer.css">
        <title>UBagri</title>
    </head>
    
    <body>
        <header>
            <div class="logo"><img src="../static/images/logo.jpeg"></div>
            <nav class="navigation">
                <a href="{{ url_for('ubagri') }}">About</a>
                <a href="{{ url_for('weather') }}">Weather</a>
                <a href="#">Market</a>
                <a href="{{ url_for('account') }}">Account</a>
            </nav>
            <div class="search-button">
                <img src="../static/images/search.png">
                <input type="text" placeholder="Search">
            </div>
        </header>

        
        <div class="container">
            <div class="upper">
                <h1>UBagri</h1>
                <h2>We support farmers</h2>
                <p>Are you a farmer looking for right education, be 
                    successfull on market and increase productivity.</p>

                <section>
                    <div class="right">
                        <p>Watch DEMO</p>
                    </div>
                    <div class="left">
                        <img src="../static/images/agri-happ.png">
                        <img src="../static/images/agri_farmer.png">
                        <img src="../static/images/agri_tea.png">
                        <img src="../static/images/image.png">
                    </div>
                </section>
            </div>

            <div class="middle">
                <h2>only way to  farm production</h2>
                <section>
                    <div class="middle_left">
                        <img  class="digital" src="../static/images/agri_digital.png">
                        <img class="maize" src="../static/images/agri_maize.png">
                    </div>
                    <div class="middle_right">
                        <h2>software for farmers</h2>
                        <p>
                            We help farmer
                            in Africa to get market, update to
                            predictable climate change(wealth),
                            and digitalize farming practice
                        </p>
                    </div>
                </section>
            </div>

            <div class="lower">
                <h2>Our services offer farmers</h2>
                <section>
                    <div class="resource">
                        <img src="../static/images/agri_icon.png">
                        <p>
                            We help farmer
                            in Africa to get market, update to
                            predictable climate change(wealth),
                            and digitalize farming practice
                        </p>
                    </div>
                    <div class="market">
                        <img src="../static/images/agri_market_icon.png" alt="">
                        <p>
                            Link farmers with markets. Some business needs constant supply of farm products,
                            we connect you with farmes.
                        </p>
                    </div>
                </section>

                <div class="weather">
                    <img src="../static/images/agri_weather_icon.png">
                    <p>
                        determination and prediction of climate of days and season helps farmers to maximize the yields.
                    </p>
                </div>
                    
            </div>

        </div>
        

        <footer>
            <p>&copy; UBagri</p>
        </footer>
    </body>
</html>